@model IEnumerable<Crediyi.Models.CompraCabezal>

@{
    ViewBag.Title = "ReporteDeCompras";
}

<h2>Reporte de Compras - Cliente</h2>

@ViewBag.Mensaje

<p>
    @Html.ActionLink("Inicio ", "MenuPrincipal", "Home") | 
    @Html.ActionLink("Volver  ", "ListarClientes")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Serie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Numero)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IdCliente)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ImpTotal)
        </th>
       
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Serie)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Numero)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdCliente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImpTotal)
        </td>
        
        <td>
      
            |  @Html.ActionLink("Detalle Lineas", "DetalleLineas", new { item.Serie, item.Numero }) |

        </td>
    </tr>
}

</table>
